In [1]:
import pandas as pd

df = pd.read_csv("../data/raw/costs.csv")
df.head()

           id                     region  year     costs
0           0                    Україна  2005  335753.0
1   100000000  Автономна Республіка Крим  2005   13521.0
2   500000000                  Вінницька  2005    9306.0
3   700000000                  Волинська  2005    6070.0
4  1200000000           Дніпропетровська  2005   26711.0