In [4]:
import pandas as pd

df = pd.read_csv("../data/raw/costs.csv")

df.info()

<class 'pandas.DataFrame'>
RangeIndex: 419 entries, 0 to 418
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      419 non-null    int64
 1   region  419 non-null    str
 2   year    419 non-null    int64
 3   costs   407 non-null    float64
dtypes: float64(1), int64(2), str(1)
memory usage: 13.2 KB

np.int64(12)

In [5]:
df["costs"].isna().sum()

np.int64(12)

In [6]:
df = df.drop(columns=["id"])

In [7]:
df = df.sort_values(["region", "year"]).reset_index(drop=True)

prev_known = df.groupby("region")["costs"].ffill()

next_known = df.groupby("region")["costs"].bfill()

avg_between = (prev_known + next_known) / 2

df["costs"] = df["costs"].fillna(avg_between).fillna(prev_known).fillna(next_known)

In [8]:
print("\n=== AFTER ===")
print("Columns:", df.columns.tolist())
print("Rows:", len(df))
print("Missing costs:", df["costs"].isna().sum())

=== AFTER ===
Columns: ['region', 'year', 'costs']
Rows: 419
Missing costs: 0